<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="RBCBanking">
	<test thread-count="5" name="Banking App">
		<parameter name="browser" value="chrome" />
		<classes>
			<class name="Com.RBC.TestCases.BaseClass" />
			<class name="Com.RBC.TestCases.TC_LoginTest_001">
				<methods>
					<exclude name="loginTest" />
				</methods>
			</class>
			<!-- <class name="Com.RBC.TestCases.TC_LoginTestDDT_002"> <methods> <exclude 
				name="TC_LoginTestDDT_002" /> </methods> </class> -->
			<class name="Com.RBC.TestCases.TC_AddCustomer_003" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
